**/__pycache__/*

og_data


# Results
**/results/*.png
data/**/frames
tasmap_pp/results/
tasmap_pp/eval_outputs/
data/scenes/capture_log.json
data/scenes/tasmap_pp_log.json


# Check
tasmap_pp/test/
data/obj_data_full
tasmap_pp/weights/Mask2Former_hornet_3x_576d0b.pth
